@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
	background-color: black;
}
main {
  margin-top: 6em;
}
/* Nav Bar*/
nav {
	position:fixed;
  top:0;
  width: 100%;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: red;
  padding: 1rem 1.5rem;
}
nav h1 {
	letter-spacing: 5px;
	padding: 0.5rem 1rem;
	padding-right: calc(1rem - 5px);
  color: red;
  display: inline;
  font-size: 47px;
  opacity: 95%;
  font-weight: bold;
  opacity: 0.8;
}
nav h1:hover {
	opacity:1;
}
.menu {
	display: none;
	align-items: center;
	margin: 15px;
 
}
.menu a {
	margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.5s;
}
.menu a:hover {
 opacity: 1;
}
.button-container {
  display:flex;
  justify-content: center;
  margin-top: 30px;
}
.button-29 {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 0.8;
  border-radius: 16px;
  cursor: pointer;
}
.button-29:hover {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 1;
  border-radius: 16px;
  cursor: pointer;
}
.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	width: 2rem;
	height: 2rem;
}
.hamburger span {
	color: #FFF;
	font-size: 2rem;
}
.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 6rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #000;
	color: #FFF;
	transition: 0.3s;
  margin-top: 54px;
}
.mobile-menu.is-open {
	opacity: 95%;
	transform: translateY(0);
}
.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
}
.mobile-menu a:hover {
  opacity: 0.7;
  transition: 0.5s;
}
@media (min-width: 930px) {
	.mobile-menu, .hamburger {
	display: none;
	}
	.menu {
	display: flex;
	}
}
/*Main*/
.hero-container {
  background-color: black;
  height: 32rem;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .hero-container {
  background-color: black;
  height: 32rem;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 20px;
  border-top: solid linear-gradient(#2e01f8, #40c239) 5px;
  margin-top: 120px;
  }
}
 .main-img-butcher {
  flex: 1;
}
@media (max-width: 930px) {
  .main-img-butcher {
  margin-top: 10px;;
  }
}
  
 .main-search-container {
    background-color: black;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 h2 {
    text-align: center;
    color: white;
    margin-top: 80px;
    padding: 10px;
    font-size: 72px;
    font-weight: bold;
    opacity: 0.8;
 }
 @media (max-width: 930px) {
  h2 {
    font-size: 50px;
    margin-top: 10px;
  }
 }
 .red-meat-text {
    color: red;
 }
 /* search bar */
 
.search-bar {
    border: 2px solid red;
    width: 370px;
    height:50px;
    background: rgb(31, 31, 31);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    margin-top: 20px;
    color: white;
    opacity: 0.8;
  }
  @media (max-width: 930px) {
    .search-bar {
    border: 2px solid red;
    width: 340px;
    height:40px;
    background: transparent;
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    margin-top: 20px;
    color: white;
    opacity: 0.8;
    }
  }
  
  .search-bar input {
    background:transparent;
    flex: 1;
    border: 0;
    outline:none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
    opacity: 0.8;
  }
 
  #main-search-button {
    margin-top: 20px;
  }
  /*featured responsive business cards section*/
  .featured-business-cards-container {
    margin-top: 8em;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:1;
    gap: 20px;
  }
  @media (max-width: 930px) {
    .featured-business-cards-container {
      margin-top: 70px;
      height: 500px;
      background-color: black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex:1;
      gap: 20px;
    }
  }
  /*card design*/
  .top-rated-butchers {
    text-align: center;
    opacity: 0.8;
    margin-top: 120px;
    font-size: 72px;
   
  }
  @media (max-width: 930px) {
    .top-rated-butchers {
      text-align: center;
      opacity:0.8;
      margin-top: 2em;
    }
  }
.card {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 16px 18px rgba(42, 42, 42, 0.2);
  overflow: hidden;
  width: 300px;
  height: 420px;
  opacity: 0;
  filter:blur(3px);
  transform: translateX(-100%);
  transition: all .75s;
}
.card:hover {
  box-shadow: 0 6px 6px 0 rgb(99, 99, 99);
  margin-top: -5px;
  margin-bottom: 5px;
  transition: .5s;
}
.card-header:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.1, 1.1, 1);
  transition: all 1s linear;
 }
 
a {
  text-decoration: none;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}  
.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 250px;
}
  
.business-name {
  font-size: 30px;
  color: red;
  margin-top:2px;
  height: 110px;
  display: flex;
  align-items: center;
  font-family: roboto;
  opacity: 80%;
}
.business-address {
  font-style: normal;
  font-family: roboto;
  color:black;
  text-align: center;
  padding-bottom: 8px;
}
.business-city {
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
  border-top: 1px solid black;
  position: relative;
  padding: 12px;
  color: black;
}
.span-red {
  color: red;
  opacity: 95%;
}
/* Blog Container */
.blog-headline-container {
  height: 72em;
  background-image: url(images/meat-background.jpg);
  background-size: cover;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
} 
@media (max-width: 1330px) {
  .blog-headline-container {
    margin-top: 36em;
  }
}
@media (max-width: 1110px) {
  .blog-headline-container {
    margin-top: 36em;
  }
}
@media (max-width: 1000px) {
  .blog-headline-container {
    margin-top: 40em;
  }
}
@media (max-width: 920px) {
  .blog-headline-container {
    margin-top: 36em;
  }
}
@media (max-width: 680px) {
  .blog-headline-container {
    margin-top: 28em;
  }
}
@media (max-width: 650px) {
  .blog-headline-container {
    margin-top: 66em;
  }
}
.blog-headline {
  padding: 24px;
  opacity: 0.8;
  background: transparent;
  color: white;
  margin-top: 7em;
  line-height: 1.5em;
}
/* test*/
.main-blog-container {
  width: 100%;
}
.blog-section {
  width: 85%;
  margin: 20px auto;
}
 .card-title {
  width: 60%;
  text-align: center;
  margin: auto;
}
.blog-content-title {
  font-size: 72px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  opacity: 0.8;
}
.blog-content {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 15px 20px;
}
.blog-paragraph {
  opacity: 0.7;
  padding: auto;
  color: white;
  font-size: 16px;
  margin-top: 3em;
}


.card-paragraph1 {
  font-size: 14px;
  color: white;
  margin-top: 3em;
  height: 10em;
  opacity: 0.8;
  padding: 12px;
} 

.card-paragraph2 {
  font-size: 14px;
  color: white;
  margin-top: 12px;
  height: 10.1em;
  opacity: 0.8;
  padding: 12px;
} 

.card-paragraph3 {
  font-size: 14px;
  color: white;
  margin-top: 2.5em;
  height: 10.2em;
  opacity: 0.8;
  padding: 12px;
} 

.button3,
.button2,
.button1 {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 0.8;
  border-radius: 16px;
  cursor: pointer;

  margin-top: 40px;
}

@media (max-width: 650px) {
  .button1 {
    margin-top: 80px;
  }
}

@media (max-width: 650px) {
  .button3 {
    margin-top: 80px;
  }
}

.button1:hover {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 1;
  border-radius: 16px;
  cursor: pointer;
}

.button2:hover {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 1;
  border-radius: 16px;
  cursor: pointer;
}

.button3:hover {
  background-color: transparent;
  border: 2px solid red;
  font-size: 22px;
  padding: 12px;
  color: white;
  opacity: 1;
  border-radius: 16px;
  cursor: pointer;
}




.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px auto;
  margin-top: 3em;
}
.cards .single-cards {
  width: 100%;
  position: relative;
  
}

.bold {
  font-weight: bold;
  opacity: 100%;
}

.image-section img {
  width: 100%;
  height: 330px;
}
@media screen and (max-width: 768px) {
  .image-section img {
    width: 100%;
    height: 250px;
  }
}
.blog-content h4 {
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.card-paragraphs {
  
  font-size: 15px;
  padding: 20px;
  opacity: 0.7;
}
.blog-content a {
  text-decoration: none;
  color: #fff;
  margin-top: 12px;
  display: inline-block;
  background-color: #3a706a;
  padding: 8px 15px;
}
.posted-date {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ada62b;
  padding: 6px 15px;
}
@media screen and (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
/* main sign up */
.main-signup-container {
  background-color: black;
  color: white;
  height: 28em;
  display: flex;
  flex-direction: column;
  margin-top: 10em;
}
.signup-title {
  margin-top: 2em;
  background-color: black;
  font-size: 72px;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  opacity: 0.8;
}
.signup-subtitle {
  text-align: center;
  padding: 12px;
  font-size: 20px;
  margin-top: 12px;
  opacity: 0.7;
}
.signup-field {
  width: 600px;
  height: 30px;
  border-radius: 6px;
  align-self: center;
  margin-top: 1em;
  border: 3px solid  red;
  padding: 16px;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: white;
}
@media screen and (max-width: 800px) {
  .signup-field {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    align-self: center;
    margin-top: 1em;
    border: 2px solid red;
    padding: 6px;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: white;
  }
}
.signup-button-container {
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 1em;
}
/* Footer */
footer {
  margin-top: 20em;
}
.footer-container {
  background-color: black;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
.footer-col ul {
  list-style: none;
}
.footer-sec {
  color: white;
  margin-bottom: 25px;
  font-size: 22px;
  position: relative;
}
.footer-sec::before {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: red;
  bottom: -10px;
}
.footer-col ul li {
  padding: 10px 0;
}
.footer-col ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-col ul li a:hover {
  opacity: 1;
}
.footer-col input {
  border: none;
  width: 250px;
  height: 45px;
  display: block;
  padding-left: 20px;
  margin: 14px 0;
}
.copyright {
  color: white;
  opacity: 0.8;
}
.footer-row hr {
  opacity: 0.7;
}
.footer-row .social-icons i {
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 0 15px;
  transition: 0.5s;
}
.footer-row .social-icons i:hover {
  color: #e91e64;
}
@media (max-width: 600px) {
  footer {
    margin-top: 20em;
  }
  footer .footer-row {
    flex-direction: column;
    padding: 20px 30px;
  }
  footer .footer-col ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .footer-col input {
    width: 100%;
  }
  .social-icons {
    margin-top: 1em;
  }
}
/*beta button*/
.glowing-btn {
  margin-bottom: 12px;
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1em;



  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}



.v-two {
  font-size: 10px;
  font-size: 8px;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}
.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}
.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}
.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;

}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
  border:none;
}
.glowing-btn:hover .glowing-txt {
  animation: none;
}
.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
.glowing-btn:hover:after {
  opacity: 1;
}
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 9px;
  }
}