/* Main Search */

.main-search-container {
    margin-top: 6em;
    background-image: url(../images/salting-meats.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 930px) {
    .main-search-container  {
     margin-top: 10em;
 }
}
.main-search-container h2 {
    margin-top: 1em;
    height: 6em;
}
@media (max-width: 930px) {
    .main-search-container h2 {
    margin-top: 6.7em;
    height: 11em;
    font-size: 30px;
 }
}

h1 {
    color:red;
}
h1:link,
h1:visited,
h1:active {
    color: red;
}
h1 a:visited {
    color: red;
}

.search-bar {
    margin-top: 3em;
}

/* Main Directory*/

.main-directory-container {
    height: 53em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    margin-top: 4em;
}

h3{
  background-color: white;
  text-align: center;
  padding: 4em;
  height: 1em;
  font-size: 20px;
}

.column h4 {
    border-bottom: 1px solid red;
    margin-top: 1em;
}

.state-name {
    display: flex;
    flex-direction: column;
}

li  {
    list-style-type: none;
}