/* Main Search */

h1 {
    color:red;
}
h1:link,
h1:visited,
h1:active {
    color: red;
}
h1 a:visited {
    color: red;
}

.main-directory-container {
    height: 35em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 12px;
    gap: 12px;
    opacity: 0.98;
    width: 100%;
  }
  
  @media (max-width: 930px) {
    .main-directory-container {
        height: 86em;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 12px;
        gap: 12px;
        
    }
  
  }
  
  .column-container {
    display: flex;
    padding: 12px;
    height: 800px;
    width: 100%;
    background-color: transparent;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    
  }
  
  @media (max-width: 930px) {
    .column-container {
      display: flex;
      padding: 12px;
      height: 80em;
      width: 100%;
      background-color: transparent;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 30px;
      
    }
  
  }
  
  
  h3{
    background-color: white;
    padding: 1em;
    height: 6px;
    font-size: 26px;
    text-align: center;
    opacity: 0.98;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  
  
  
  #myUL {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20em;
    gap: 28px;
    
    margin-top: 40px;
    width: 54em;
  
   
    
  
  
  }
  
  
  
  
  li {
    list-style-type: none;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
  }